.Day {
    size: 4px;
    height: 600px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    /* position: absolute;  */
    display: inline-block;
    border: 1px solid white;
}

.DateLable {
    line-height: 200%;
    height: 30px;
}