.TimeLine {
    height: 800px;
    width: 1515px;
    border: 3px solid green;
    margin: auto;
    /* position: absolute; */
}


.View {
    float: right;
    overflow: auto;
}

.LeftPanel {
    margin-top: 100px;
    position: absolute;
    height: 500px;
    width: 100px;
    float: left;
}